<section data-ng-controller="HomeController">
    <h1 class="text-center">Soluzion V0.1</h1>
    <h1 class="text-center">Portal to the Soluzions Collaborative Problem-Solving Facility</h1>
    <section>
        <p>
        	Before you begin we recommend you read about the Soluzion system:
        </p>
        <dl>
            <dt>Solving with Soluzion</dt>
            <dd>
                Go through <a target="_blank" href="http://cubist.cs.washington.edu/~tanimoto/soluzion-solving.html">Soluzion solving tutorial</a>.
            </dd>
            <dt>Problem Formulation with Soluzion</dt>
            <dd>
                Read up on collaborative problem solving systems in <a target="_blank" href="http://cubist.cs.washington.edu/~tanimoto/soluzion-draft.html"> Soluzion Draft Manual</a>.
            </dd>
        </dl>
        <br>
        <br>Enjoy &amp; Keep Us Updated,
        <br>The Soluzion Team.
    </section>
</section>