<section data-ng-controller="SoluzproblemsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{soluzproblem.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == soluzproblem.user._id">
		<a class="btn btn-primary" href="/#!/soluzproblems/{{soluzproblem._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{soluzproblem.created | date:'mediumDate'}} by {{soluzproblem.user.displayName}}</em>
	</small>
</section>