<section data-ng-controller="SoluznodesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Soluznodes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="soluznode in soluznodes" data-ng-href="#!/soluznodes/{{soluznode._id}}" class="list-group-item">
            <small class="list-group-item-text">{{soluznode.created | date:'medium'}} / {{soluznode.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{soluznode.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!soluznodes.$resolved || soluznodes.length">
    	No Soluznodes yet, why don't you <a href="/#!/soluznodes/create">create one</a>?
    </div>
</section>